.whiteKey{
    z-index: 1;
    position:relative;
    width: 100px;
    height: 350px;
    color: white;
    border-style: solid;
    border-color: black;
    margin-top: 4.5%;
    display: inline-block;
    background-color: #9282aa;
    box-shadow: 0 0 5px -1px rgba(5, 63, 223, 0.2);
    cursor: pointer;
}


.whiteKeys{
    margin-left: 14%;
    display: block;
    margin-top: 1%;
    position:absolute;
    
}

.whiteKey:active{
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.blackKey1{
      position: absolute;
    z-index: 10;
    width: 30px;
    height: 200px;
    color: white;
    border-style: solid;
    border-color: black;
    margin-top: 4.5%;
    display: inline-block;
    background-color: #bdaec8;
    margin-right: 68%;
    margin-top: 4.5%;
    margin-left: 12%;
}
.blackKey2{
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 200px;
    color: white;
    border-style: solid;
    border-color: black;
    margin-top: 4.5%;
    display: inline-block;
    background-color: #af8aca;
    margin-right: 68%;
    margin-top: 4.5%;
    margin-left: 26.4%;
}
.blackKey3{
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 200px;
    color: white;
    border-style: solid;
    border-color: black;
    margin-top: 4.5%;
    display: inline-block;
    background-color: #9f62ca;
    margin-right: 68%;
    margin-top: 4.5%;
    margin-left: 54.6%;
}
.music{
    position: absolute;
    z-index: 10;
    margin-top: 29%;
    margin-left: 13%;
}

.imgs{
    height: 193px;
    width: 602px;
}

.blackKey4{
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 200px;
    color: white;
    border-style: solid;
    border-color: black;
    margin-top: 4.5%;
    display: inline-block;
    background-color:  #8e3bca;
    margin-left: 69%;
    margin-top: 4.5%;
}

.blackKey5{
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 200px;
    color: white;
    border-style: solid;
    border-color: black;
    margin-top: 4.5%;
    display: inline-block;
    background-color: #7012b3;
    margin-right: 68%;
    margin-top: 4.5%;
    margin-left: 83.5%;
}

.keyContainer{
    position: relative;
    margin-top: 4em;
    width: 1050px;
    height: 400px;
    background:linear-gradient(0.25turn, #6da8c2, #a383c2, #6906c5) ;
    border-radius: 10%;
    display: flex;
    margin-left: 25%;
    border-style: solid;
}