.whiteKey{
    z-index: 1;
    position:relative;
    width: 100px;
    height: 350px;
    color: white;
    border-style: solid;
    border-color: black;
    margin-top: 4.5%;
    display: inline-block;
    background-color: #cfccc4;
}

.whiteKeys{
    margin-left: 14%;
    display: block;
    margin-top: 1%;
    position:absolute
    
}
.blackKey1{
      position: absolute;
    z-index: 10;
    width: 30px;
    height: 200px;
    color: white;
    border-style: solid;
    border-color: black;
    margin-top: 4.5%;
    display: inline-block;
    background-color: #333332;
    margin-right: 68%;
    margin-top: 4.5%;
    margin-left: 12%;
}
.blackKey2{
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 200px;
    color: white;
    border-style: solid;
    border-color: black;
    margin-top: 4.5%;
    display: inline-block;
    background-color: #333332;
    margin-right: 68%;
    margin-top: 4.5%;
    margin-left: 26.4%;
}
.blackKey3{
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 200px;
    color: white;
    border-style: solid;
    border-color: black;
    margin-top: 4.5%;
    display: inline-block;
    background-color: #333332;
    margin-right: 68%;
    margin-top: 4.5%;
    margin-left: 54.6%;
}

.blackKey4{
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 200px;
    color: white;
    border-style: solid;
    border-color: black;
    margin-top: 4.5%;
    display: inline-block;
    background-color: #333332;
    margin-left: 69%;
    margin-top: 4.5%;
}

.blackKey5{
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 200px;
    color: white;
    border-style: solid;
    border-color: black;
    margin-top: 4.5%;
    display: inline-block;
    background-color: #333332;
    margin-right: 68%;
    margin-top: 4.5%;
    margin-left: 83.5%;
}

.keyContainer{
    position: relative;
    margin-top: 4em;
    width: 1050px;
    height: 400px;
    background-color: #909190;
    border-radius: 10%;
    display: flex;
    margin-left: 25%;

}